@media (max-width: 440px) {
    .container .center-box {
        flex-direction: column;
    }
    .container .center-box .center-box-leftchild {
        height: 100%;
        width: 100%;
        /* background: red; */
    }

    .container .center-box .center-box-rightchild {
        display: none;
    }

    .container {
        padding: 0px 2vmax 0px 2vmax;
        height: 70vh;
    }
}