@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}
html {
    scroll-behavior: smooth;
}
.container {
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    background-image: linear-gradient(120deg,#1e1e20, #222328);
    padding: 0px 5vmax 0px 5vmax;
    overflow: hidden;
}

.container .Header {
    height: 80px;
    width: 100%;
    position: relative;
   
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .Header .links-box {
  position: relative;
  height: 100%;
  width: 60%;
}

.container .Header .links-box .links-box-child {
    height: 100%;
    width: 60%;
    position: relative; 
}

.container .Header .links-box .links-box-child .links-item {
      list-style: none;
      position: relative;
}

.container .Header .links-box .links-box-child .links-item a {
    font-size: clamp(1rem, 1.3vw,3rem);
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto Slab', serif;
}

.container .Header .links-box .logo {
    font-size: clamp(1rem, 2vw,3rem);
    font-family: 'Open Sans', serif;
    color: #fff;
    height: 50px;
    line-height: 100x;
}

.container .Header .social-media-links{
     position: relative;
     height: 100%;
     width: 30%;
  
}

.container .Header .social-media-links .social-media-links-box {
    height: 100%;
    width: 100%;
    padding: 0px 5px 0px 5px;
}


.container .Header .social-media-links .social-media-links-box .social-links {
    list-style: none;
    position: relative;
    height: 50%;
    width: 20%;
    gap: 10px;
    display: flex;
    align-items: center;
}

.container .Header .social-media-links .social-media-links-box li {
    font-size: clamp(1rem, 1vw, 1rem);
    text-decoration: none;
    color: white; /* Change to the desired default color */
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto Slab', serif;
}

.container .Header .links-box .links-box-child .links-item a:hover {
    color: #6EF3A5;
    cursor: pointer;
}

.container .Header .social-media-links .social-media-links-box li:hover {
    color: #6EF3A5;
    cursor: pointer;
}


 .prev, .next {
    font-size: clamp(1rem, 1.5vw,3rem);
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto Slab', serif;
    margin-right: 5px;
    margin-left: 5px;
}

.container .center-box {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
}

.container .center-box .center-box-leftchild, .center-box-rightchild {
    height: 100%;
    width: 90%;
    /* background: yellow; */
    position: relative;
}

.container .center-box .center-box-rightchild {
    background: transparent;
}

.container .center-box .center-box-rightchild .background-cover {
    position: absolute;
    height: 00%;
    width: 80%;
    background: linear-gradient(155deg, #16171aba 60%, #323438cc);
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(1px);
    z-index: 0;
}

.container .center-box .center-box-rightchild .home-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 94%;
   width: 110%;
}

.container .center-box .center-box-rightchild .circle {
    height: 12%;
    width: 12%;
    background: #0c0c0c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10%;
    position: absolute;
    bottom: 30%;
    transform: translate(-50%, -50%);
    animation: rotation 0.5s linear infinite;
}

.container .center-box .center-box-rightchild .circle2 {
   height: 20%;
   width: 20%;
   position: absolute;
   background: #0c0c0c;
   display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 40%;
    transform: translate(-50%, -50%);
    right: 0;
    z-index: 3;
}
.container .center-box .center-box-rightchild .circle3 {
    height: 10%;
    width: 10%;
    position: absolute;
    background: #0c0c0c;
    display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     bottom: 20%;
     transform: translate(-50%, -50%);
     right: 2%;
     z-index: 3;
}
.container .center-box .center-box-rightchild .circle3 img {
    position: relative;
    height: 70%;
    width: 70%;
}
.container .center-box .center-box-leftchild .center-box-leftchid-content {
    position: absolute;
    width: 80%;
    right: 0;
    top: 15%;
}

.container .center-box .center-box-leftchild .center-box-leftchid-content .bg-color-txt {
    font-size: clamp(1rem,1.5vw ,3rem);
    color: rgb(9, 9, 9);
    margin-bottom: 3%;
    font-family: 'Roboto Slab', serif;
    background: #6EF3A5;
    display: inline-block;
   padding: 5px;
}

.container .center-box .center-box-leftchild .center-box-leftchid-content .main-txt {
    font-size: clamp(1rem, 3vw,3rem);
    color: #fff;
    margin-bottom: 1%;
    font-family: 'Roboto Slab', serif;
}

.container .center-box .center-box-leftchild .center-box-leftchid-content .light-txt-info {
    font-size: clamp(1rem, 1vw,3rem);
    color: #fff;
    margin-top: 5%;
    font-family: 'Roboto Slab', serif;
    opacity: .4;
}

.container .center-box .center-box-leftchild .center-box-leftchid-content .btn-box {
    margin-top: 10%;
    position: relative;
}

.container .center-box .center-box-leftchild .center-box-leftchid-content .btn-box .btn-box-child {
    font-size: clamp(1rem,2vw ,3rem);
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
    text-transform: uppercase;
    word-spacing: 2px;
   color: #6EF3A5;
}

.container .center-box .center-box-leftchild .experience-box {
    position: absolute;
    width: 70%;
    left: 0;
    bottom: 10%;
    color: #fff;
}

.container .center-box .center-box-leftchild .experience-box .expreience-box-left-child, .expreience-box-right-child {
    position: relative;
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    gap: 2vmax;
}

.container .center-box .center-box-leftchild .experience-box .number {
    font-size: clamp(1rem, 3vw,3rem);
    font-family: 'Roboto Slab', serif;
    color: #fff;
    display: block;
}

.container .center-box .center-box-leftchild .experience-box .text-box p{
    font-size: clamp(1rem, 1.2vw,3rem);
    font-family: 'Roboto Slab', serif;
    color: #fff;
    opacity: .4;
}

/* @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

#products {
    background: #25262A;
    padding: 5vmax;
    position: relative;
}

#products .center-box {
    
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#products .center-box .center-box-left-child, .center-box-right-child {
    position: relative;
    height: 100%;
    width: 50%;
}

#products .center-box .center-box-left-child {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    width: 40%;
}

#products .center-box .center-box-left-child .project-box {
    width: 100%;
    /* background: black; */
    padding: 2vmax;
    border-radius: 7px;
    backdrop-filter: blur(15px);
    background: rgba(101, 99, 99, 0.1);
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
}

#products .center-box .center-box-left-child .project-box .project-heading-txt-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1rem, 1.2vw ,3rem);
    font-family: 'Roboto Slab', serif;
    color: #6EF3A5;
    margin-bottom: 1%;
}

.project-heading-txt-box i {
    font-size: clamp(1rem, 1.5vw,3rem);
    color: #6EF3A5;
}

.project-box .project-info-txt {
    font-size: clamp(1rem, 1vw,3rem);
    font-family: 'Roboto Slab', serif;
    color: #fff;
    opacity:.4;
    margin-bottom: 5%;
}

.project-box .project-btn {
    text-decoration: none;
    font-size: clamp(.5rem, 1vw,1rem);
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

.project-box:hover > .project-btn-box .project-btn {
   text-decoration: underline;
}

.project-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 0px #1e1e20, 0px  0px 5px  #1e1e20 , 0px 0px  15px #1e1e20, 0px 0px 18px #1e1e20;
}

.center-box .center-box-right-child {
  padding-right: 15%;
}

.center-box .center-box-right-child .header-txt {
    font-size: clamp(1rem, 1.2vw,3rem);
    font-family: 'Roboto Slab', serif;
    color: #6EF3A5;
    margin-bottom: 4%;
}

.center-box .center-box-right-child .brand-txt {
    font-size: clamp(1rem, 5vw,3rem);
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Lemon', serif;
    color: #fff;
    margin-bottom: 8%;
}

.center-box .center-box-right-child .sub-brand-txt {
    font-size: clamp(1rem, 1.5vw,3rem);
    font-family: 'Roboto Slab', serif;
    color: #f5f5f5;
    margin-bottom: 14%;
}

.center-box .center-box-right-child .brand-info {
    font-size: clamp(1rem, 1.2vw,3rem);
    font-family: 'Roboto Slab', serif;
    color: #fff;
    /* margin-bottom: 4%; */
    opacity: .4;
}
.container .center-box .center-box-rightchild .circle,
.container .center-box .center-box-rightchild .circle2,
.container .center-box .center-box-rightchild .circle3 {
    background-color: #fff; 
}

body::-webkit-scrollbar {
   display: none;
}


.notes {
    height: 100vh;
    background: #25262A;
    padding: 5vmax;
    position: relative;
}

.home {
    height: 100vh;
    background: #25262A;
    padding: 5vmax;
    position: relative;
}

.contact {
    height: 100vh;
    background: #25262A;
    padding: 5vmax;
    position: relative;
}


body {
    font-family: Arial, sans-serif;
}


.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 500px;
    border: 1px solid #e0e1dd;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 20%;
}

#search-input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-sizing: border-box;
}

#search-btn {
    padding: 10px 10px;
    width: 150px;
    background-color: #0b3866;
    color: white;
    border: #e0e1dd;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

#search-btn:hover {
    background-color: #457b9d;
}

#scanner-head {
    color: #6EF3A5;
    font-size: 70px;
    text-align: center;
    margin-top: 1%;
    font-style: unset;
}
#searcb-head {
    color: #dee1dd;
    font-size: 70px;
    text-align: center;
    margin-top: 1%;
    font-style: unset;
}